@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f4f9ffea; 
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}