.element {
    z-index: -1;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    transition: transform 2s ease-in-out; /* Smooth transition */
  }
  
  .blue {
    transition: all 10s ease;
    background-color: rgb(0, 0, 255);
    box-shadow: 0px 0px 50px 60px rgb(0, 0, 255);
    z-index: -1;
  }
  
  .red {
    transition: all 10s ease;
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 50px 60px rgb(255, 0, 0);
    z-index: -1;
  }